

    {% if user.is_authenticated %}

    <a href="{% url 'makeplegde' %}">Make a new Pledge</a>
    <a href="{% url 'myplegdes' %}">See All Your Pledges</a>
    <a href="{% url 'allpledges' %}">See Everyone's Pledges</a>
    <h3>Logged in as {{ user.username }}</h3>
    <br>
    <hr>
    <form action="{% url 'logoutuser' %}" method="POST">
      {% csrf_token %}
    <button type="Submit">Logout</button>
  </form>
    {% else %}

    <a href="{% url 'signupuser' %}">Sign Up</a>
    <a href="{% url 'loginuser' %}">Login</a>

    {% endif %}

    {% block content %}

    {% endblock %}
