{% extends 'pledges/base.html' %}

{% block content %}

<h2>Make a Pledge!</h2>

<!--
<form action="" method="post">
{% csrf_token %}
{{ form.as_p}}
<button type="submit">Make Pledge</button>
</form>

-->

<form action="" method="POST">
{% csrf_token %}

  <h3>Give your pledge a name: </h3> {{ form.title }}
  <h2>Veg Out</h2>
  <p>
    At the moment, I munch on {{ form.current_meals}} meaty meals each week. For the next two months, I pledge to go veg for {{ form.veggie_meals }}
    extra meals each week.
  </p>

  <h2>Clean Your Bills</h2>
  <p>
    Within the next two months, I pledge to switch from my current energy
    supplier – which is {{ form.energy_supplier }} – to a green energy supplier. {{ form.energy_supplier }}


{{ form.number_of_people }} people live in our home. My house is mainly heated by {{ form.heating_source }}
  <br>
  <h3>Tell us why you're doing this:</h3>
  {{ form.message }}
  <br>
  <button type="submit">Make Pledge</button>
</form>

{% endblock  %}

